[submodule "npc/vsrc/chisel/rvdecoderdb"]
	path = npc/vsrc/chisel/rvdecoderdb
	url = https://github.com/chipsalliance/rvdecoderdb
[submodule "am-kernels"]
	path = am-kernels
	url = https://github.com/miilTgy/am-kernels
